@mixin padding-top-bottom ($arriba, $abajo) {
    padding-top: $arriba;
    padding-bottom: $abajo;
}

@mixin padding-left-right ($izquierda, $derecha) {
    padding-left: $izquierda;
    padding-right: $derecha;
}

.header-contactanos {
    background-color: $color-primario-fondo;
    padding-bottom: 40px;
}

h1 {
    @include padding-top-bottom(25px, 10px);
    color: $color-primario-letra;
    text-align: center;
    font-size: 60px;
    font-family: $fuente-principal-letra;
}

.titulo-formulario {
    @include padding-left-right(20px, 20px);
    color: $color-primario-letra;
    text-align: center;
    font-family: $fuente-principal-letra;
    font-size: 20px;
    position: relative;
    padding-top: 25px;
}