@mixin padding-top-bottom ($arriba, $abajo) {
    padding-top: $arriba;
    padding-bottom: $abajo;
}

@mixin padding-left-right ($izquierda, $derecha) {
    padding-left: $izquierda;
    padding-right: $derecha;
}

header {
    background-color: $color-primario-fondo;
    h1 {
        @include padding-top-bottom(25px, 10px);
        color: $color-primario-letra;
        text-align: center;
        font-size: 60px;
        font-family: $fuente-principal-letra;
    }
    div {
        div {
            p {
                color: $color-primario-letra;
                text-align: end;
                @include padding-left-right(40px, 30px)
            }
        }
    }
}

