@mixin padding-top-bottom ($arriba, $abajo) {
    padding-top: $arriba;
    padding-bottom: $abajo;
}

header {
    background-color: $color-primario-fondo;
}

h1 {
    @include padding-top-bottom(25px, 10px);
    color: $color-primario-letra;
    text-align: center;
    font-size: 60px;
    font-family: $fuente-principal-letra;
}

.contenedor-presentacion {
    color: $color-primario-letra;
    text-align: justify;
    font-family: $fuente-principal-letra;
    font-size: 20px;
    padding-top: 40px;
    justify-content: space-around;
}

.texto-principal {
    line-height: 40px;
} 