header {
    background-color: $color-primario-fondo;
    padding-bottom: 40px;
}

h1 {
    padding-top: 25px;
    color: $color-primario-letra;
    padding-bottom: 10px;
    text-align: center;
    font-size: 60px;
    font-family: $fuente-principal-letra;
}

.titulo-partnership {
    color: $color-primario-letra;
    text-align: center;
    font-family: $fuente-principal-letra;
    font-size: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 10px;
}

.contenedor-fotos-marcas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 60px;
}