@mixin padding-top-bottom ($arriba, $abajo) {
    padding-top: $arriba;
    padding-bottom: $abajo;
}

@mixin padding-left-right ($izquierda, $derecha) {
    padding-left: $izquierda;
    padding-right: $derecha;
}

header {
    padding-bottom: 40px;
}

.estilo-letra {
    font-family: $fuente-principal-letra;
    color: $color-primario-letra;
    text-align: center;
}

h1 {
    @include padding-top-bottom(25px, 10px);
    font-size: 60px;
    @extend .estilo-letra
}

.titulo-partnership {
    @include padding-left-right(100px, 100px);
    font-size: 20px;
    padding-bottom: 10px;
    @extend .estilo-letra
}