body {
    background-color: $color-primario-fondo;
}

.header-sobre-nosotros {
    padding-bottom: 40px;
}

header {
    div {
        padding-top: 20px;
        font-family: $fuente-principal-letra;
        font-size: 20px; 
    }
}